<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated upctformaevalua -->
      <package
            uri="http://cpcd.upct.es/upctformaevalua"
            class="upctformaevalua.UpctformaevaluaPackage"
            genModel="model/upctformaevalua.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated upctformaevalua -->
      <package
            uri="http://cpcd.upct.es/upctformagami"
            class="upctformagami.UpctformagamiPackage"
            genModel="model/upctformaevalua.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated upctformaevalua -->
      <package
            uri="http://cpcd.upct.es/upctforma"
            class="upctforma.UpctformaPackage"
            genModel="model/upctformaevalua.genmodel"/>
   </extension>

</plugin>
