#animacion7 canvas{
  max-width: 1125px!important;
}

#animacion2 canvas{
	max-width: 534px!important;
}

#animacion3 canvas{
  max-width: 960px;
}

#animacion4 canvas{
  max-width: 960px;
}

#animacion5 canvas{
  max-width: 960px;
}

#animacion6 canvas{
  max-width: 960px;
}
