.mano {
    cursor: pointer;
}

img {
    vertical-align: middle;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	/* width: 100%; */
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
}

/* Caption Style */
.mask figure {
	overflow: hidden;
}

.mask figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.mask figcaption {
	height: auto;
	width: 100%;
	top: auto;
	bottom: 0px;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;		
}